<%- css('/css/categories.css') %>

<%
const categoriesList = list_categories({show_count: false });
const tagsList = list_tags({show_count: false });
%>

<div id="container">
    <div id="categoryPart">
      <div class="categoryHead headPart">
        <h2 class="title">categories</h2>
      </div>
      <div class="linkPart">
        <% if (categoriesList !== "") { %>
          <%-categoriesList%>
        <% } else { %>
          <p>果咩,目前还没有分类</p>
        <% } %>
      </div>
    </div>
    <div id="tagPart">
      <div class="tagHead headPart">
        <h2 class="title">Tags</h2>
      </div>
      <div class="linkPart">
        <% if (tagsList !== "") { %>
          <%-tagsList%>
        <% } else { %>
          <p>果咩,目前还没有标签</p>
        <% } %>
      </div>
    </div>
</div>



