#archives
    max-width 70%
    margin auto

#archives .year
    color #eac73fe6

#archives .month
    color #0d7fe3

#archives .post .clockIcon
    max-width 1rem
    margin 0 10px 0 1rem

#archives .post .postDate
    display inline-block
    margin-right 1rem
#archives .post a
    padding 10px
    text-decoration none
    background rgba(82,106,103,0.84)
    border-radius 5px
    opacity .9
    color #ddcd7a
    transition opacity,font-size 0.5s
#archives .post a:hover
    font-size 1.1em
    opacity 1
    transition opacity,font-size 0.5s


