:root
    --post-font-family "Monospace","SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial","sans-serif"
    --navigator-background-color #241d1d
#post
    font-family var(--post-font-family)
    color var(--main-color)

aside
    box-sizing border-box
    width 15%
    margin-bottom 1em
    background var(--navigator-background-color)
    color black
    border-radius 10px
    position fixed
    left 0
    overflow auto

#navigator ol
    list-style none
    padding 0 0 0 8px

aside ol li
    list-style none

aside .anchor-item
    margin 10px

aside .anchor-number
    display none

aside .anchor-item a
    text-decoration none
    color var(--main-color)
    opacity .8
    transition opacity,font-size 0.5s

aside .anchor-item a:hover
    font-size 1.3em
    opacity 1
    transition opacity,font-size 0.5s


aside .anchor-item a

#content
    max-width 60%
    margin 5px auto 5px auto

#postHead > h1
    font-size 2.5em
    margin-bottom 1rem

#postHead .postDate .dateIcon
  margin-right 2px
  max-height 1em

#postHead .postCategory
    margin 1rem 1rem 1rem 0

#postHead .postCategory::before
    content ""
    background-image url("/images/category.svg")
    background-size 1em 1em
    width 1em
    height 1em
    display inline-block


#postHead .postCategory > a
    text-decoration none
    background var(--main-code-background-color)
    padding 5px
    border-radius 5px
    opacity .8
    transition opacity 0.5s

#postHead .postCategory > a:hover
    opacity 1
    transition opacity 0.5s

#postHead::after
    content ""
    display block
    height 3px
    margin 0.5em auto 3em auto
    background grey
    box-shadow 2px 5px 10px gold


#postBody
    margin 10px auto 5rem auto
    font-size 1.1rem
